<div class="ticket-details-container">
  <form (ngSubmit)="saveOrCreate()">

    <div class="card card-body">
      <h1 *ngIf="isEditing">Edit ticket #{{ticketId}}</h1>
      <h1 *ngIf="!isEditing">Create a new ticket</h1>
      <label>
        Assignee :
        <select [(ngModel)]="assignee" [compareWith]="compareAssignee" name="assignee">
          <option selected [ngValue]="undefined">None</option>
          <option *ngFor="let user of users$ | async" [ngValue]="user">{{user.name}}</option>
        </select>
      </label>

      <br>

      <label>
        Description :
        <textarea [(ngModel)]="description" class="col-12" name="description"></textarea>
      </label>
    </div>

    <div class="actions mt-5">
      <button class="btn btn-primary" type="button"  [routerLink]="'../'">
        <span>&larr; Back</span>
      </button>
      <button class="btn btn-success ml-1" type="submit">
        {{ isEditing ? 'Save' : 'Create'}}
      </button>
    </div>
  </form>

</div>
