<div class="tickets-list-container row justify-content-center">
  <h1 class="text-center mb-5">Ticket Management Application</h1>

  <button class="col-12 btn btn-success mb-3" [routerLink]="['new']">Create a ticket</button>

  <div class="tickets row no-gutters col-12">
    <div class="ticket col-4 mb-2" *ngFor="let ticket of tickets$ | async" [routerLink]="[ticket.id]">
      <div class="card card-body mx-1 h-100">
        <h3 class="text-center">#{{ ticket.id }}</h3>
        <span>{{ ticket.description }}</span>
      </div>
    </div>
  </div>
</div>
